<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="il.co.jws" version="1.12">
    <name>ירושמיים</name>
    <description>
        Jerusalem Weather Station.
    </description>
    <author email="boazn1@gmail.com" href="02ws.co.il">
        Boaz Nechemia
    </author>
    <content src="index.html"/>
    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="cli-7.0.1"/>
    <preference name="orientation" value="default"/>
    <preference name="target-device" value="universal"/>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="2500" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="CameraUsesGeolocation" value="false" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="deployment-target" value="9.0" />
    <plugin name="cordova-plugin-console" source="npm" />
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-file" source="npm" />
    <plugin name="cordova-plugin-file-transfer" source="npm" />
    
    <plugin name="phonegap-plugin-push" spec="1.8.0">
        <param name="SENDER_ID" value="12345678" />
     </plugin>
    <plugin name="cordova-plugin-spinner" source="npm" />
    <plugin name="cordova-plugin-statusbar" source="npm" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <plugin name="cordova-plugin-camera-with-exif" source="npm"/>
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
    <allow-navigation href="*" />
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <feature name="StatusBar">
            <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>   
    <icon gap:platform="ios" src="res/icon/ios/icon-57.png" width="57" height="57" />
    <icon gap:platform="ios" src="res/icon/ios/icon-29.png" width="29" height="29" />
    <icon gap:platform="ios" src="res/icon/ios/icon-58.png" width="58" height="58" />
    <icon gap:platform="ios" src="res/icon/ios/icon-72.png" height="72" width="72"/>
    <icon gap:platform="ios" src="res/icon/ios/Icon-76.png" height="76" width="76"/>
    <icon gap:platform="ios" src="res/icon/ios/icon-87.png" width="87" height="87" />
    <icon gap:platform="ios" src="res/icon/ios/icon-114.png" width="114" height="114"/>
    <icon gap:platform="ios" src="res/icon/ios/Icon-120.png" width="120" height="120"/>
    <icon gap:platform="ios" src="res/icon/ios/Icon-144.png" width="144" height="144" />
    <icon gap:platform="ios" src="res/icon/ios/icon-152.png" width="152" height="152" />
    <!-- Spotlight Icon -->
    <icon gap:platform="ios" src="res/icon/ios/icon-40.png" width="40" height="40"/>
    <icon gap:platform="ios" src="res/icon/ios/icon-40@2x.png" width="80" height="80"/>
    
   <!-- iPhone 6 / 6+ -->
    <icon gap:platform="ios" src="res/icon/ios/icon-60.png" width="60" height="60"/>
    <icon gap:platform="ios" src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
    <splash src="Default.png"         platform="ios"     width="320" height="480" />
    <splash src="Default@2x.png"      platform="ios"     width="640" height="960" />
    <splash src="Default-568h@2x.png" platform="ios"     width="640" height="1136" />
    <splash src="res/screen/ios/screen-iphone-portrait.png"          platform="ios"     width="320" height="480" />
    <splash src="res/screen/ios/screen-iphone-portrait-2x.png"       platform="ios"     width="640" height="960" />
    
    <!-- Retina iPad -->
    <splash src="Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
    <splash src="Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
    <!-- iPhone 6 -->
    <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
    <splash src="res/screen/ios/Default@2x~iphone~comcom.png" />
    <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
    <splash src="res/screen/ios/Default@3x~iphone~anycom.png" />
    <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
</widget>
